@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Roboto:400,500,700&display=swap');

s body {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #444;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    color: #393542;
    margin-top: 0px;
    font-style: normal;
    font-weight: 700;
    text-transform: normal;
}

/* barra de Navegacion */

.transparent-header {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
}

.pb-40 {
    padding-bottom: 40px;
}

.pt-40 {
    padding-top: 40px;
}

.sticky {
    left: 0;
    margin: auto;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 0 60px 0 rgb(0 0 0 / 7%);
    z-index: 9999;
    -webkit-animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
    animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
    -webkit-box-shadow: 0 10px 15px rgb(25 25 25 / 10%);
    background: #573CE9;
    padding: 10px 0;
    transition: .3s;
}

.nav1 {
    display: none;
}

.mean-bar {
    display: block;
}

.mean-container .mean-bar {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    float: left;
    position: relative;
    width: 100%;
    z-index: 99;
}

.mean-container .mean-bar,
.mean-container .mean-bar * {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

/* boton de la barra de navegacion */

.f-right {
    float: right;
}

.header-btn a {
    background: #6c5edf;
    padding: 17px 60px;
    border-radius: 30px;
    font-size: 18px;
    letter-spacing: 0;
    font-weight: 700;
    color: #fff;
}

.pl-15 {
    padding-left: 15px;
}

.btn {
    -moz-user-select: none;
    background-image: -moz-linear-gradient(178deg, rgb(255, 153, 165) 0%, rgb(255, 96, 163) 100%);
    background-image: -webkit-linear-gradient(178deg, rgb(255, 153, 165) 0%, rgb(255, 96, 163) 100%);
    background-image: -ms-linear-gradient(178deg, rgb(255, 153, 165) 0%, rgb(255, 96, 163) 100%);
    border: medium none;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 19px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 1;
    margin-bottom: 0;
    padding: 23px 70px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transition: all 0.3s ease 0s;
    vertical-align: middle;
    white-space: nowrap;
    border: 2px solid transparent;

}

a,
button {
    color: #1696e7;
    outline: medium none;
}

a,
.button {
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

/* ul*/

ul {
    margin: 0px;
    padding: 0px;
}

.main-menu ul li {
    display: inline-block;
    margin: 0 15px;
    position: relative;
}

li {
    list-style: none;
}

.main-menu-5 ul li a {
    color: #fff;
}

.main-menu ul li a {
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    padding: 20px 0;
    display: list-item;
    line-height: 1;
    position: relative;
    text-decoration: none;
}

::selection {
    background: #444;
    color: #fff;
    text-shadow: none;
}

/* botor de menu amburguesa*/



/* :before*/

.main-menu ul li:hover a::before,
.main-menu ul li.active a ::before {
    width: 25px;
}

.main-menu ul li a::before {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 7px;
    background: #fff;
    height: 2px;
    content: "";
    width: 0;
    margin: auto;
    transition: .3s;
    -webkit-transition: .3s;

}




/* seccion home*/

.fix {
    overflow: hidden;
}

.slider-height {
    min-height: 1190px;
    background-repeat: no-repeat;
    background-position: top left;
    height: 800px !important;
}


/* seccion blog*/

.latest-news-area {
    background: #fafafa;
}



.pt-100 {
    padding-top: 100px;
}
.section-title {
    padding: 0 82px;
}
.mb-70 {
    margin-bottom: 70px;
}

.section-title h2 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 20px;
}

h2 {
    font-size: 25px;
}

.section-title p {
    margin: 0;
    font-size: 20px;
    line-height: 1.5;
}



.mb-120 {
    margin-bottom: 120px;
}

.single-latest-news {
    position: relative;
}

.mb-30 {
    margin-bottom: 30px;
}

.inner-blog {
    padding: 0 30px;
}

.news-body {
    background: #fff;
    padding: 24px 44px;
    position: relative;
    margin-top: -67px;
}

.news-meta {
    margin-bottom: 13px;
}

.news-meta span {
    color: #444;
    font-size: 14px;
    display: inline-block;
    margin-right: 12px;
}

.news-meta span>i {
    color: #7b73ee;
    margin-right: 5px;
}

.news-meta span>i>a {
    color: #444;
    font-weight: 300;
    font-family: roboto sans-serif;
    margin-left: 4px;
    font-size: 14px;
    text-decoration: none;
}



.news-body p a {
    font-size: 18px;
    font-weight: 600;
    color: #30323d;
    line-height: 1;
    text-decoration: none;
}

.bg-cta {
    background-image: -moz-linear-gradient(-51deg, rgb(47, 50, 212) 0%, rgb(113, 66, 247) 100%);
    background-image: -webkit-linear-gradient(-51deg, rgb(47, 50, 212) 0%, rgb(113, 66, 247) 100%);
    background-image: -ms-linear-gradient(-51deg, rgb(47, 50, 212) 0%, rgb(113, 66, 247) 100%);
}

.cta-area {
    border-radius: 20px;
    position: relative;
    padding: 61px 0px;
}

.cta-area-title h2 {
    color: #fff;
    margin: 0;
}
h2{
    font-size: 35px;
}
.cta-form form{
    position: relative;
}
.cta-form input{
    width: 100%;
    height: 75px;
    border: none;
    background: #fff;
    padding: 0 33px;
    border-radius: 40px;
    font-size: 18px;
    color: #30323d;
}
.btn.btn-form {
    position: absolute;
    right: 4px;
    top: 3px;
    padding: 23px 31px;
}


.mb-40{
    margin-bottom: 40px;
}
.aps-titles h2{
    font-weight: 700;
    font-size: 60px;
    color: #38323d;
    line-height: 48px;
}
.get-app a {
    border-radius: 49px;
    display: inline-block;
    line-height: 1;
    -webkit-border-radius: 49px;
    -moz-border-radius: 49px;
    -ms-border-radius: 49px;
    -o-border-radius: 49px;
    padding: 10px 30px;
    background: #fff;
    margin: 0 5px;
}

.footer-app-btn img{
    float: left;
}
.get-app a p {
    display: inline-block;
    margin: 0;
    line-height: 1.4;
    float: left;
    text-align: left;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    padding-left: 12px;
    color: #38363d;
    font-size: 14px;
    padding: 3px 11px;
}
.get-app a>p>b{
    font-size: 24px;
    font-weight: bold;
    line-height: 24px;
}
.row.apps-bottom{
    border-top: 1px solid #e5e5e6;
}
.footer p {
    margin: 0;
}

p {
    font-size: 16px;
    font-weight: normal;
    line-height: 27px;
    color: #444;
    margin-bottom: 15px;
}

@media (min-width: 992px) {
    .nav1 {
        display: block;
    }

    .mean-bar {
        display: none;
    }
    .col-lg-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
        padding-right: 15px;
        padding-left: 15px;
    }
}
@media (max-width: 767px){
    
    .section-title {
        padding: 0 12px;
    }
    .section-title h2 {
        font-size: 35px;
    }
    .section-title p {
        font-size: 18px;
    }
    .single-news-thumb img {
        width: 100%;
    }
    .cta-area {
        padding: 47px 0px;
    }
    .cta-form input {
        width: 89%;
    }
    .btn.btn-form {
        position: static;
        margin-top: 20px;
    }
    .cta-area-title {
        text-align: center;
        margin-bottom: 19px;
    }
    .aps-titles h2 {
        font-size: 35px;
        line-height: 1;
    }
    .get-app a {
        margin-bottom: 20px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .header-area.sticky {
        padding-bottom: 0;
    }

    .latest-row {
        margin-bottom: 75px;
    }

    .inner-blog {
        padding: 0 20px;
    }

    .single-news-thumb img {
        width: 100%;
    }

    .news-body {
        margin-top: 0;
        margin-left: 0px;
        padding: 24px 25px;
    }

    .cta-area {
        padding: 36px 0px;
    }
    .cta-area-title {
        text-align: center;
        margin-bottom: 30px;
    }
    .cta-form input {
        width: 96%;
    }
    .get-app a {
        margin: 0 1px;
    }
}
@media (min-width: 992px) and (max-width: 1200px){

    .single-news-thumb img {
        width: 100%;
    }
    .news-body {
    margin-top: 0;
    margin-left: 0px;
    padding: 24px 25px;
}
.cta-area-title-5 {
    text-align: center;
    margin-bottom: 25px;
}


}

@media (min-width: 1200px){
    .container {
        max-width: 1170px;
    }
    
    .section-title p {
        margin: 0;
        font-size: 16px;
        line-height: 1.5;
    }
}